<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!-- Optional JavaScript -->
    <!-- highcharts, jQuery, Popper.js, Bootstrap JS -->
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/numeric/1.2.6/numeric.js"></script>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <title>Targets overview</title>
  </head>
  <body>

    <div class="content container">
        {% block content %}
            <div class="dropdown">
                <button id="selected" class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Select Target
                </button>
                <ul class="dropdown-menu pre-scrollable" aria-labelledby="dropdownMenuButton">
                    {% if targets %}
                        {% for target in targets %}
                            <li class="dropdown-item">{{ target.target_name }}</li>
                        {% endfor %}}
                    {% endif %}
                </ul>
            </div>
            <div class="row">
                <div id="chart"></div>
            </div>
            <div class="row">
                <div id="mod_dates">
                    <table cellpadding="0" cellspacing="0" border="0" id="example">
                        <thead>
                            <tr><th>My Attr Heading</th></tr>
                         </thead>
                            <tbody></tbody>
                    </table>
                </div>
            </div>

        {% endblock %}

    <script type="text/javascript">
        // using jQuery
        function getCookie(name) {
            var cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                var cookies = document.cookie.split(';');
                for (var i = 0; i < cookies.length; i++) {
                    var cookie = jQuery.trim(cookies[i]);
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }
        var csrftoken = getCookie('csrftoken');

        function csrfSafeMethod(method) {
            // these HTTP methods do not require CSRF protection
            return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
        }
        $.ajaxSetup({
            beforeSend: function(xhr, settings) {
                if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                    xhr.setRequestHeader("X-CSRFToken", csrftoken);
                }
            }
        });

        $(".dropdown-menu li").click(function(){
          $('#selected').text($(this).text());
          var req = $(this).text();
            $.ajax({
                url: '/overview/targets/graph/',
                data: {'target_name': req},
                type: 'GET',
                dataType: 'json',
                success: function (data) {
                    Plotly.newPlot('chart', [data]);
                    console.log('update')
                }});

             $.ajax({
                url: '/overview/targets/mod_date/',
                data: {'target_name': req},
                type: 'GET',
                dataType: 'json',
                success: function (data2) {
                    console.log(JSON.stringify(data2));
                    var trHTML = '';
                    $.each(data2, function (i, item) {
                        trHTML += '<tr><td>' + item.file + '</td><td>' + item.db_date + '</td><td>' + item.rt_date + '</td></tr>';
                    });
                    $('#records_table').append(trHTML);
                }});
            });

    </script>

    </div>
  </body>
</html>