<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!-- Optional JavaScript -->
    <!-- highcharts, jQuery, Popper.js, Bootstrap JS -->
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/numeric/1.2.6/numeric.js"></script>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">

    <title>Targets overview</title>
      <style>
        #example {
            font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

        #example td, #example th {
            border: 1px solid #ddd;
            padding: 8px;
        }

        #example tr:nth-child(even){background-color: #f2f2f2;}

        #example tr:hover {background-color: #ddd;}

        #example th {
            padding-top: 12px;
            padding-bottom: 12px;
            text-align: left;
            background-color: #2678b2;
            color: white;
        }

        #cryst {
            font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

        #cryst td, #cryst th {
            border: 1px solid #ddd;
            padding: 8px;
        }

        #cryst tr:nth-child(even){background-color: #f2f2f2;}

        #cryst tr:hover {background-color: #ddd;}

        #cryst th {
            padding-top: 12px;
            padding-bottom: 12px;
            text-align: left;
            background-color: #2678b2;
            color: white;
        }

        #chart {
            margin: 0 auto;
            width: 100%;
            /*min-height: 300px;*/
        }

        .loading {
            display: none;
        }

        /*.row{*/
            /*margin-top:40px;*/
            /*padding: 0 10px;*/
        /*}*/

        .clickable{
            cursor: pointer;
        }

        .panel-heading span {
            margin-top: -20px;
            font-size: 15px;
        }
        </style>
  </head>
  <body>
    <br>

    <div class="content container">
        {% block content %}
            <div id="loading" class="loading">
                <img src="https://www.drupal.org/files/issues/throbber_13.gif" height="42" width="42" alt="loading...">
            </div>
            <div><h1 style="float:left">XChem Projects Overview</h1></div>
            <br>
            <h3 style="float:left">Select Target:</h3>
            <br>
            <div class="dropdown">
                <br>

                <button id="selected" class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Select Target
                </button>
                <ul class="dropdown-menu pre-scrollable" aria-labelledby="dropdownMenuButton">
                    {% if targets %}
                        {% for target in targets %}
                            <li class="dropdown-item">{{ target.target_name }}</li>
                        {% endfor %}
                    {% endif %}
                </ul>
            </div>
            <br>
            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h3 class="panel-title">Status Overview</h3>
                            <span class="pull-right clickable"><i class="glyphicon glyphicon-chevron-up"></i></span>
                        </div>
                        <div class="panel-body"><div id="chart"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h3 class="panel-title">SoakDB Files and Time Status</h3>
                            <span class="pull-right clickable"><i class="glyphicon glyphicon-chevron-up"></i></span>
                        </div>
                        <div class="panel-body">
                            <table cellpadding="10" cellspacing="0" border="0" id="example"><tbody></tbody>
                    </table></div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h3 class="panel-title">Summary of Crystals (Outcomes: 4=CompChem, 5=Deposition Ready, 6=Deposited)</h3>
                            <span class="pull-right clickable"><i class="glyphicon glyphicon-chevron-up"></i></span>
                        </div>
                        <div class="panel-body">
                            <table cellpadding="10" cellspacing="0" border="0" id="cryst"><tbody></tbody>
                    </table></div>
                    </div>
                </div>
            </div>

        {% endblock %}

        <script type="text/javascript">
            $(document).ajaxStart(function() {
                    $('#loading').show();  // show loading indicator
                });

            $(document).ajaxStop(function() {
                $('#loading').hide();  // hide loading indicator
            });

            $(document).on('click', '.panel-heading span.clickable', function(){
                var $this = $(this);
                if(!$this.hasClass('panel-collapsed')) {
                    $this.parents('.panel').find('.panel-body').slideUp();
                    $this.addClass('panel-collapsed');
                    $this.find('i').removeClass('glyphicon-chevron-up').addClass('glyphicon-chevron-down');
                } else {
                    $this.parents('.panel').find('.panel-body').slideDown();
                    $this.removeClass('panel-collapsed');
                    $this.find('i').removeClass('glyphicon-chevron-down').addClass('glyphicon-chevron-up');
                }
            });

            function sortTable(n) {
                  var table, rows, switching, i, x, y, shouldSwitch, dir, switchcount = 0;
                  table = document.getElementById("cryst");
                  switching = true;
                  // Set the sorting direction to ascending:
                  dir = "asc";
                  /* Make a loop that will continue until
                  no switching has been done: */
                  while (switching) {
                    // Start by saying: no switching is done:
                    switching = false;
                    rows = table.rows;
                    /* Loop through all table rows (except the
                    first, which contains table headers): */
                    for (i = 1; i < (rows.length - 1); i++) {
                      // Start by saying there should be no switching:
                      shouldSwitch = false;
                      /* Get the two elements you want to compare,
                      one from current row and one from the next: */
                      x = rows[i].getElementsByTagName("TD")[n];
                      y = rows[i + 1].getElementsByTagName("TD")[n];
                      /* Check if the two rows should switch place,
                      based on the direction, asc or desc: */
                      if (dir == "asc") {
                        if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
                          // If so, mark as a switch and break the loop:
                          shouldSwitch = true;
                          break;
                        }
                      } else if (dir == "desc") {
                        if (x.innerHTML.toLowerCase() < y.innerHTML.toLowerCase()) {
                          // If so, mark as a switch and break the loop:
                          shouldSwitch = true;
                          break;
                        }
                      }
                    }
                    if (shouldSwitch) {
                      /* If a switch has been marked, make the switch
                      and mark that a switch has been done: */
                      rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
                      switching = true;
                      // Each time a switch is done, increase this count by 1:
                      switchcount ++;
                    } else {
                      /* If no switching has been done AND the direction is "asc",
                      set the direction to "desc" and run the while loop again. */
                      if (switchcount == 0 && dir == "asc") {
                        dir = "desc";
                        switching = true;
                      }
                    }
                  }
                }

            // using jQuery
            function getCookie(name) {
                var cookieValue = null;
                if (document.cookie && document.cookie !== '') {
                    var cookies = document.cookie.split(';');
                    for (var i = 0; i < cookies.length; i++) {
                        var cookie = jQuery.trim(cookies[i]);
                        // Does this cookie string begin with the name we want?
                        if (cookie.substring(0, name.length + 1) === (name + '=')) {
                            cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                            break;
                        }
                    }
                }
                return cookieValue;
            }
            var csrftoken = getCookie('csrftoken');

            function csrfSafeMethod(method) {
                // these HTTP methods do not require CSRF protection
                return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
            }

            $.ajaxSetup({
                beforeSend: function(xhr, settings) {
                    if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                        xhr.setRequestHeader("X-CSRFToken", csrftoken);
                    }
                }
            });

            $(".dropdown-menu li").click(function(){
              $('#selected').text($(this).text());
              var req = $(this).text();

                $.ajax({
                    url: '/overview/targets/graph/',
                    data: {'target_name': req},
                    type: 'GET',
                    dataType: 'json',
                    success: function (data) {
                        Plotly.newPlot('chart', [data], {responsive: true},);
                        console.log('update');
                        $('#example').empty();
                        $('#cryst').empty();

                    }});

                $.ajax({
                    url: '/overview/targets/mod_date/',
                    data: {'target_name': req},
                    type: 'GET',
                    dataType: 'json',
                    success: function (data2) {
                        var trHTML = '<tr><th>Filename</th><th>Mod. Date (DB)</th><th>Mod. Date (Real time)</th><th>Time Difference</th></tr>';
                        $.each(data2, function (i, item) {
                            trHTML += '<tr><td>' + item.file + '</td><td>' + item.db_date + '</td><td>' + item.rt_date +
                                '</td><td class="difference">' + item.difference + '</td></tr>';
                        });
                        $('#example').append(trHTML);
                        $('.difference').css("color", "red");
                        $('.difference:contains(0:00:00)').css("color", "green");
                    }});


                $.ajax({
                    url: '/overview/targets/crystal_summary/',
                    data: {'target_name': req},
                    type: 'GET',
                    dataType: 'json',
                    success: function (data2) {
                        var trHTML = '<tr><th onclick="sortTable(0)">Crystal</th><th onclick="sortTable(1)">Outcome</th><th onclick="sortTable(2)">Pandda Model Found</th><th onclick="sortTable(3)">Uploaded to proasis</th><th onclick="sortTable(4)">Proasis strucids</th><th onclick="sortTable(5)">Files pulled back</th><th onclick="sortTable(6)">Out Directory</th><th onclick="sortTable(7)">Uploaded to verne</th></tr>';
                        $.each(data2, function (i, item) {
                            trHTML += '<tr><td>' + item.crys + '</td><td>' + item.refinement_status + '</td><td class="boolean_img">' + item.pandda_model + '</td><td class="boolean_img">' + item.in_proasis + '</td><td class="boolean_img">' + item.proasis_strucids + '</td><td class="boolean_img">' + item.files_out + '</td><td class="boolean_img">' + item.out_directory + '</td><td class="boolean_img">' + item.uploaded_to_verne +
                                '</td></tr>';
                        });
                        $('#cryst').append(trHTML);
                        $('.boolean_img:contains(✘)').css("color", "red");
                        $('.boolean_img:contains(✓)').css("color", "green");
                    }});

            });




        </script>

    </div>
  </body>
</html>